---
// Component Imports
import WebsiteHeader from '../components/WebsiteHeader.astro';
import Footer from `../components/Footer.astro`;

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

// Data Fetching: List all Markdown posts in the repo.



// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
	</head>
	<WebsiteHeader />
	<body>
		<div class="wrapper">
			<main class="content">
				<section class="intro">
				</section>
			</main>
		</div>
	</body>
	<Footer/>
</html>
